@{
    ViewBag.Title = "Страница не найдена";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Присносим свои извинения, однако страница, которую Вы пытаетесь открыть, не существует на сервере, либо у Вас нет прав на её просмотр.</h3>
<h3>Попробуйте перейти на <a href="/">главную страницу сайта</a> и заново повторить попытку доступа на эту страницу. Также можете попытаться перейти <a href="javascript:history.back(1)">назад</a> в истории посещений.</h3>
<h3>Если Вам кажется, что такой ошибки на этой странице быть не должно, обратитесь к администратору системы.</h3>
