@{
    ViewBag.Title = "Непредвиденная ошибка";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Что-то пошло не так.</h3>
<h3>Эта ошибка возникает в исключительных случаях.</h3>
<h3>При систематическом повторе данной ошибки просим связаться с администратором системы.</h3>
<h3> <a href="javascript:history.back(1)">назад</a> </h3>

