@{
    ViewBag.Title = "О системе";
}

<hgroup class="title">
    <h1>@ViewBag.Title:</h1>
</hgroup>

<article>
    <p>
        Данный проект выполнил в рамках курсовой работы по дисциплине "Управление данными"
    </p>
    <p>
        Студент группы ИСТбд-31 Артамонов Николай

    </p>

</article>
