<br>
        <h3>Тестовый доступ в систему:</h3>
<li>@Html.ActionLink("Log in as Admin", "AdminLogin", "Home")</li>
<li>@Html.ActionLink("Log in as Employee(Operator)", "OperatorLogin", "Home")</li>
<li>@Html.ActionLink("Log in as User", "UserLogin", "Home")</li>